*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.logo img{
    width: 20%;
    margin-top: 30px;
}

.logo{
    background-image: url("img/pattern.png");
}

.container{
    width: 95%;
    margin: auto;

}

h1{
    font-size: 50px;
}