*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.logo img{
    width: 20%;
    margin-top: 30px;
}

.logo{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    background-repeat: repeat;
}

.container{
    width: 95%;
    margin: auto;
}

/* MAIN */

h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.author{
    font-size: 25px;
    color:#8f8f8f;
    margin-bottom: 15px;
}

.author span{
    font-size: 25px;
    color: #37b1e7;
}

.images{
   margin: auto;
}

.image-description{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: smaller;
}

.main-p{
    margin-bottom: 25px;
}

.p-style{
    background-color: yellow;
}



